USE [master]
GO
/****** Object:  Database [kvkrestorant]    Script Date: 30.01.2025 17:36:40 ******/
CREATE DATABASE [kvkrestorant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kvkrestorant', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\kvkrestorant.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kvkrestorant_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\kvkrestorant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kvkrestorant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kvkrestorant]
GO
/****** Object:  Table [dbo].[adisyonlar]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adisyonlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVISTURNO] [int] NULL,
	[PERSONELID] [int] NULL,
	[MASAID] [int] NULL,
	[TARIH] [datetime] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_adisyonlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hesapOdemeleri]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hesapOdemeleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADISYONID] [int] NULL,
	[ODEMETURID] [int] NULL,
	[MUSTERIID] [int] NULL,
	[ARATOPLAM] [money] NULL,
	[KDVTUTARI] [money] NULL,
	[INDIRIM] [money] NULL,
	[TOPLAMTUTAR] [money] NULL,
	[TARIH] [datetime] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_hesapOdemeleri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategoriler]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategoriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORIADI] [nvarchar](100) NULL,
	[ACIKLAMA] [text] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_kategoriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici_Adi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[masalar]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[masalar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KAPASITE] [int] NULL,
	[SERVISTURU] [int] NULL,
	[DURUM] [int] NULL,
	[ONAY] [bit] NULL,
 CONSTRAINT [PK_masalar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteriler]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [nvarchar](50) NULL,
	[SOYAD] [nvarchar](50) NULL,
	[ADRES] [text] NULL,
	[TELEFON] [nvarchar](50) NULL,
	[ILKSPARIS] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[SIPARISSAYISI] [int] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_musteriler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odemeTurleri]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odemeTurleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ODEMETURU] [nvarchar](50) NULL,
	[ACIKLAMA] [text] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_odemeTurleri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paketSiparis]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paketSiparis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIID] [int] NULL,
	[ADISYONID] [int] NULL,
	[ODEMETURID] [int] NULL,
	[ACIKLAMA] [text] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_paketSiparis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personelGorevleri]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personelGorevleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GOREV] [nvarchar](100) NULL,
	[ACIKLAMA] [text] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_personelGorevleri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personelHareketleri]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personelHareketleri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONELID] [int] NULL,
	[ISLEM] [nvarchar](50) NULL,
	[TARIH] [datetime] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_personelHareketleri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personeller]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personeller](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GOREVID] [int] NULL,
	[AD] [nvarchar](50) NULL,
	[SOYAD] [nvarchar](50) NULL,
	[PAROLA] [nvarchar](50) NULL,
	[KULLANICIADI] [nvarchar](50) NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_personeller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIID] [int] NULL,
	[MASAID] [int] NULL,
	[ADISYONID] [int] NULL,
	[KISISAYISI] [int] NULL,
	[TARIH] [datetime] NULL,
	[ACIKLAMA] [text] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_Rezervasyonlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[satislar]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[satislar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADISYONID] [int] NULL,
	[URUNID] [int] NULL,
	[MASAID] [int] NULL,
	[ADET] [int] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_satislar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servisturu]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servisturu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVISADI] [nvarchar](50) NULL,
	[ACIKLAMA] [text] NULL,
 CONSTRAINT [PK_servisturu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[urunler]    Script Date: 30.01.2025 17:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[urunler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KATEGORIID] [int] NULL,
	[URUNAD] [nvarchar](100) NULL,
	[ACIKLAMA] [text] NULL,
	[FIYAT] [money] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_urunler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adisyonlar] ON 

INSERT [dbo].[adisyonlar] ([ID], [SERVISTURNO], [PERSONELID], [MASAID], [TARIH], [Durum]) VALUES (86, 2, 1, NULL, CAST(N'2025-01-05T15:40:36.140' AS DateTime), 1)
INSERT [dbo].[adisyonlar] ([ID], [SERVISTURNO], [PERSONELID], [MASAID], [TARIH], [Durum]) VALUES (87, 2, 1, NULL, CAST(N'2025-01-05T16:17:32.737' AS DateTime), 1)
INSERT [dbo].[adisyonlar] ([ID], [SERVISTURNO], [PERSONELID], [MASAID], [TARIH], [Durum]) VALUES (88, 2, 1, NULL, CAST(N'2025-01-05T16:18:36.357' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[adisyonlar] OFF
GO
SET IDENTITY_INSERT [dbo].[hesapOdemeleri] ON 

INSERT [dbo].[hesapOdemeleri] ([ID], [ADISYONID], [ODEMETURID], [MUSTERIID], [ARATOPLAM], [KDVTUTARI], [INDIRIM], [TOPLAMTUTAR], [TARIH], [Durum]) VALUES (16, 86, 1, 1, 240.0000, 43.2000, 0.0000, 240.0000, CAST(N'2025-01-05T16:17:11.453' AS DateTime), 0)
INSERT [dbo].[hesapOdemeleri] ([ID], [ADISYONID], [ODEMETURID], [MUSTERIID], [ARATOPLAM], [KDVTUTARI], [INDIRIM], [TOPLAMTUTAR], [TARIH], [Durum]) VALUES (17, 87, 1, 1, 60.0000, 10.8000, 0.0000, 60.0000, CAST(N'2025-01-05T16:18:22.727' AS DateTime), 0)
INSERT [dbo].[hesapOdemeleri] ([ID], [ADISYONID], [ODEMETURID], [MUSTERIID], [ARATOPLAM], [KDVTUTARI], [INDIRIM], [TOPLAMTUTAR], [TARIH], [Durum]) VALUES (18, 88, 1, 1, 125.0000, 22.5000, 0.0000, 125.0000, CAST(N'2025-01-05T16:19:50.837' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[hesapOdemeleri] OFF
GO
SET IDENTITY_INSERT [dbo].[kategoriler] ON 

INSERT [dbo].[kategoriler] ([ID], [KATEGORIADI], [ACIKLAMA], [Durum]) VALUES (1, N'Çorbalar', N'Çorbalar', 0)
INSERT [dbo].[kategoriler] ([ID], [KATEGORIADI], [ACIKLAMA], [Durum]) VALUES (2, N'Ara Sıcaklar', N'Ara Sıcaklar', 0)
INSERT [dbo].[kategoriler] ([ID], [KATEGORIADI], [ACIKLAMA], [Durum]) VALUES (3, N'Ana Yemekler', N'Ana Yemekler', 0)
SET IDENTITY_INSERT [dbo].[kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([Id], [Kullanici_Adi], [Sifre]) VALUES (1, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET IDENTITY_INSERT [dbo].[masalar] ON 

INSERT [dbo].[masalar] ([ID], [KAPASITE], [SERVISTURU], [DURUM], [ONAY]) VALUES (1, 5, 1, 1, 0)
INSERT [dbo].[masalar] ([ID], [KAPASITE], [SERVISTURU], [DURUM], [ONAY]) VALUES (2, 3, 1, 1, 0)
INSERT [dbo].[masalar] ([ID], [KAPASITE], [SERVISTURU], [DURUM], [ONAY]) VALUES (3, 5, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[masalar] OFF
GO
SET IDENTITY_INSERT [dbo].[musteriler] ON 

INSERT [dbo].[musteriler] ([ID], [AD], [SOYAD], [ADRES], [TELEFON], [ILKSPARIS], [EMAIL], [SIPARISSAYISI], [DURUM]) VALUES (1, N'Standart', N'Müşteri', N'İstanbul', N'547 858 32 54', NULL, NULL, NULL, 0)
INSERT [dbo].[musteriler] ([ID], [AD], [SOYAD], [ADRES], [TELEFON], [ILKSPARIS], [EMAIL], [SIPARISSAYISI], [DURUM]) VALUES (5, N'asdas', N'asdasd', N'123', N'12312312311', NULL, N'123', NULL, 0)
INSERT [dbo].[musteriler] ([ID], [AD], [SOYAD], [ADRES], [TELEFON], [ILKSPARIS], [EMAIL], [SIPARISSAYISI], [DURUM]) VALUES (6, N'talha', N'kvk7221', N'batman12', N'53131313513', NULL, N'agjsjdö@gmail.com', NULL, 0)
SET IDENTITY_INSERT [dbo].[musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[odemeTurleri] ON 

INSERT [dbo].[odemeTurleri] ([ID], [ODEMETURU], [ACIKLAMA], [Durum]) VALUES (1, N'Nakit', N'Nakit Ödeme', 0)
INSERT [dbo].[odemeTurleri] ([ID], [ODEMETURU], [ACIKLAMA], [Durum]) VALUES (2, N'Kredi Kartı', N'Kredi Kartıyla Ödeme', 0)
INSERT [dbo].[odemeTurleri] ([ID], [ODEMETURU], [ACIKLAMA], [Durum]) VALUES (3, N'Ticket', N'Ticket ile Ödeme', 0)
SET IDENTITY_INSERT [dbo].[odemeTurleri] OFF
GO
SET IDENTITY_INSERT [dbo].[paketSiparis] ON 

INSERT [dbo].[paketSiparis] ([ID], [MUSTERIID], [ADISYONID], [ODEMETURID], [ACIKLAMA], [Durum]) VALUES (13, 6, 86, 1, NULL, 1)
INSERT [dbo].[paketSiparis] ([ID], [MUSTERIID], [ADISYONID], [ODEMETURID], [ACIKLAMA], [Durum]) VALUES (14, 6, 87, 1, NULL, 1)
INSERT [dbo].[paketSiparis] ([ID], [MUSTERIID], [ADISYONID], [ODEMETURID], [ACIKLAMA], [Durum]) VALUES (15, 6, 88, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[paketSiparis] OFF
GO
SET IDENTITY_INSERT [dbo].[personelGorevleri] ON 

INSERT [dbo].[personelGorevleri] ([ID], [GOREV], [ACIKLAMA], [DURUM]) VALUES (1, N'Müdür', N'Komi', 0)
INSERT [dbo].[personelGorevleri] ([ID], [GOREV], [ACIKLAMA], [DURUM]) VALUES (2, N'Bulaşıkçı', N'Baş Bulaşıkçı', 0)
INSERT [dbo].[personelGorevleri] ([ID], [GOREV], [ACIKLAMA], [DURUM]) VALUES (3, N'Şef', N'Şef', 0)
SET IDENTITY_INSERT [dbo].[personelGorevleri] OFF
GO
SET IDENTITY_INSERT [dbo].[personelHareketleri] ON 

INSERT [dbo].[personelHareketleri] ([ID], [PERSONELID], [ISLEM], [TARIH], [Durum]) VALUES (1, 1, N'Giriş Yaptı', CAST(N'2024-12-21T22:41:47.457' AS DateTime), 0)
INSERT [dbo].[personelHareketleri] ([ID], [PERSONELID], [ISLEM], [TARIH], [Durum]) VALUES (2, 1, N'Giriş Yaptı', CAST(N'2024-12-21T22:49:24.280' AS DateTime), 0)
INSERT [dbo].[personelHareketleri] ([ID], [PERSONELID], [ISLEM], [TARIH], [Durum]) VALUES (3, 2, N'Giriş Yaptı', CAST(N'2024-12-21T22:56:30.980' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[personelHareketleri] OFF
GO
SET IDENTITY_INSERT [dbo].[personeller] ON 

INSERT [dbo].[personeller] ([ID], [GOREVID], [AD], [SOYAD], [PAROLA], [KULLANICIADI], [Durum]) VALUES (1, 1, N'Adem', N'Yalçın', N'123456', N'ademyalcin', 0)
INSERT [dbo].[personeller] ([ID], [GOREVID], [AD], [SOYAD], [PAROLA], [KULLANICIADI], [Durum]) VALUES (2, 1, N'Talha', N'Kavak', N'987654', N'talhakavak', 0)
INSERT [dbo].[personeller] ([ID], [GOREVID], [AD], [SOYAD], [PAROLA], [KULLANICIADI], [Durum]) VALUES (3, 3, N'asd', N'asd', N'asd', N'asd', 0)
SET IDENTITY_INSERT [dbo].[personeller] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] ON 

INSERT [dbo].[Rezervasyonlar] ([ID], [MUSTERIID], [MASAID], [ADISYONID], [KISISAYISI], [TARIH], [ACIKLAMA], [Durum]) VALUES (6, 6, 2, 116, 3, CAST(N'2025-01-15T00:00:00.000' AS DateTime), N'', 0)
INSERT [dbo].[Rezervasyonlar] ([ID], [MUSTERIID], [MASAID], [ADISYONID], [KISISAYISI], [TARIH], [ACIKLAMA], [Durum]) VALUES (7, 1, 10, 117, 4, CAST(N'2025-01-26T00:00:00.000' AS DateTime), N'23424', 0)
INSERT [dbo].[Rezervasyonlar] ([ID], [MUSTERIID], [MASAID], [ADISYONID], [KISISAYISI], [TARIH], [ACIKLAMA], [Durum]) VALUES (8, 6, 5, 189, 5, CAST(N'2025-01-16T00:00:00.000' AS DateTime), N'rezerve', 0)
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] OFF
GO
SET IDENTITY_INSERT [dbo].[satislar] ON 

INSERT [dbo].[satislar] ([ID], [ADISYONID], [URUNID], [MASAID], [ADET], [Durum]) VALUES (135, 86, 27, NULL, 2, 0)
INSERT [dbo].[satislar] ([ID], [ADISYONID], [URUNID], [MASAID], [ADET], [Durum]) VALUES (136, 87, 20, NULL, 1, 0)
INSERT [dbo].[satislar] ([ID], [ADISYONID], [URUNID], [MASAID], [ADET], [Durum]) VALUES (137, 88, 10, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[satislar] OFF
GO
SET IDENTITY_INSERT [dbo].[servisturu] ON 

INSERT [dbo].[servisturu] ([ID], [SERVISADI], [ACIKLAMA]) VALUES (1, N'Masa', N'Masa')
INSERT [dbo].[servisturu] ([ID], [SERVISADI], [ACIKLAMA]) VALUES (2, N'Paket Servis', N'Paket Servis')
SET IDENTITY_INSERT [dbo].[servisturu] OFF
GO
SET IDENTITY_INSERT [dbo].[urunler] ON 

INSERT [dbo].[urunler] ([ID], [KATEGORIID], [URUNAD], [ACIKLAMA], [FIYAT], [Durum]) VALUES (1, 1, N' Anadolu Çorbası ', N'Çorba', 110.0000, 0)
INSERT [dbo].[urunler] ([ID], [KATEGORIID], [URUNAD], [ACIKLAMA], [FIYAT], [Durum]) VALUES (2, 1, N'Domates Çorbası', N'Çorba', 100.0000, 0)
INSERT [dbo].[urunler] ([ID], [KATEGORIID], [URUNAD], [ACIKLAMA], [FIYAT], [Durum]) VALUES (3, 1, N'Mercimek Çorbası', N'Çorba', 100.0000, 0)
SET IDENTITY_INSERT [dbo].[urunler] OFF
GO
ALTER TABLE [dbo].[adisyonlar] ADD  CONSTRAINT [DF_adisyonlar_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[adisyonlar] ADD  CONSTRAINT [DF_adisyonlar_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[hesapOdemeleri] ADD  CONSTRAINT [DF_hesapOdemeleri_TARIH]  DEFAULT (getdate()) FOR [TARIH]
GO
ALTER TABLE [dbo].[hesapOdemeleri] ADD  CONSTRAINT [DF_hesapOdemeleri_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[kategoriler] ADD  CONSTRAINT [DF_kategoriler_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[masalar] ADD  CONSTRAINT [DF_masalar_DURUM]  DEFAULT ((1)) FOR [DURUM]
GO
ALTER TABLE [dbo].[masalar] ADD  CONSTRAINT [DF_masalar_ONAY]  DEFAULT ((0)) FOR [ONAY]
GO
ALTER TABLE [dbo].[musteriler] ADD  CONSTRAINT [DF_Table_1_durum]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[odemeTurleri] ADD  CONSTRAINT [DF_odemeTurleri_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[paketSiparis] ADD  CONSTRAINT [DF_paketSiparis_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[personelGorevleri] ADD  CONSTRAINT [DF_personelGorevleri_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[personelHareketleri] ADD  CONSTRAINT [DF_personelHareketleri_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[personeller] ADD  CONSTRAINT [DF_personeller_DURUM]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Rezervasyonlar] ADD  CONSTRAINT [DF_Rezervasyonlar_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[satislar] ADD  CONSTRAINT [DF_satislar_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[urunler] ADD  CONSTRAINT [DF_urunler_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[adisyonlar]  WITH CHECK ADD  CONSTRAINT [FK_adisyonlar_personeller] FOREIGN KEY([PERSONELID])
REFERENCES [dbo].[personeller] ([ID])
GO
ALTER TABLE [dbo].[adisyonlar] CHECK CONSTRAINT [FK_adisyonlar_personeller]
GO
ALTER TABLE [dbo].[adisyonlar]  WITH CHECK ADD  CONSTRAINT [FK_adisyonlar_servisturu] FOREIGN KEY([SERVISTURNO])
REFERENCES [dbo].[servisturu] ([ID])
GO
ALTER TABLE [dbo].[adisyonlar] CHECK CONSTRAINT [FK_adisyonlar_servisturu]
GO
ALTER TABLE [dbo].[hesapOdemeleri]  WITH CHECK ADD  CONSTRAINT [FK_hesapOdemeleri_adisyonlar] FOREIGN KEY([ADISYONID])
REFERENCES [dbo].[adisyonlar] ([ID])
GO
ALTER TABLE [dbo].[hesapOdemeleri] CHECK CONSTRAINT [FK_hesapOdemeleri_adisyonlar]
GO
ALTER TABLE [dbo].[hesapOdemeleri]  WITH CHECK ADD  CONSTRAINT [FK_hesapOdemeleri_musteriler] FOREIGN KEY([MUSTERIID])
REFERENCES [dbo].[musteriler] ([ID])
GO
ALTER TABLE [dbo].[hesapOdemeleri] CHECK CONSTRAINT [FK_hesapOdemeleri_musteriler]
GO
ALTER TABLE [dbo].[hesapOdemeleri]  WITH CHECK ADD  CONSTRAINT [FK_hesapOdemeleri_odemeTurleri] FOREIGN KEY([ODEMETURID])
REFERENCES [dbo].[odemeTurleri] ([ID])
GO
ALTER TABLE [dbo].[hesapOdemeleri] CHECK CONSTRAINT [FK_hesapOdemeleri_odemeTurleri]
GO
ALTER TABLE [dbo].[paketSiparis]  WITH CHECK ADD  CONSTRAINT [FK_paketSiparis_musteriler] FOREIGN KEY([MUSTERIID])
REFERENCES [dbo].[musteriler] ([ID])
GO
ALTER TABLE [dbo].[paketSiparis] CHECK CONSTRAINT [FK_paketSiparis_musteriler]
GO
ALTER TABLE [dbo].[paketSiparis]  WITH CHECK ADD  CONSTRAINT [FK_paketSiparis_odemeTurleri] FOREIGN KEY([ODEMETURID])
REFERENCES [dbo].[odemeTurleri] ([ID])
GO
ALTER TABLE [dbo].[paketSiparis] CHECK CONSTRAINT [FK_paketSiparis_odemeTurleri]
GO
ALTER TABLE [dbo].[personelHareketleri]  WITH CHECK ADD  CONSTRAINT [FK_personelHareketleri_personeller] FOREIGN KEY([PERSONELID])
REFERENCES [dbo].[personeller] ([ID])
GO
ALTER TABLE [dbo].[personelHareketleri] CHECK CONSTRAINT [FK_personelHareketleri_personeller]
GO
ALTER TABLE [dbo].[personelHareketleri]  WITH CHECK ADD  CONSTRAINT [FK_personelHareketleri_personeller1] FOREIGN KEY([PERSONELID])
REFERENCES [dbo].[personeller] ([ID])
GO
ALTER TABLE [dbo].[personelHareketleri] CHECK CONSTRAINT [FK_personelHareketleri_personeller1]
GO
ALTER TABLE [dbo].[personeller]  WITH CHECK ADD  CONSTRAINT [FK_personeller_personelGorevleri] FOREIGN KEY([GOREVID])
REFERENCES [dbo].[personelGorevleri] ([ID])
GO
ALTER TABLE [dbo].[personeller] CHECK CONSTRAINT [FK_personeller_personelGorevleri]
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyonlar_adisyonlar] FOREIGN KEY([ADISYONID])
REFERENCES [dbo].[adisyonlar] ([ID])
GO
ALTER TABLE [dbo].[Rezervasyonlar] CHECK CONSTRAINT [FK_Rezervasyonlar_adisyonlar]
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD  CONSTRAINT [FK_Rezervasyonlar_masalar] FOREIGN KEY([MASAID])
REFERENCES [dbo].[masalar] ([ID])
GO
ALTER TABLE [dbo].[Rezervasyonlar] CHECK CONSTRAINT [FK_Rezervasyonlar_masalar]
GO
ALTER TABLE [dbo].[satislar]  WITH CHECK ADD  CONSTRAINT [FK_satislar_adisyonlar1] FOREIGN KEY([ADISYONID])
REFERENCES [dbo].[adisyonlar] ([ID])
GO
ALTER TABLE [dbo].[satislar] CHECK CONSTRAINT [FK_satislar_adisyonlar1]
GO
ALTER TABLE [dbo].[satislar]  WITH CHECK ADD  CONSTRAINT [FK_satislar_urunler] FOREIGN KEY([URUNID])
REFERENCES [dbo].[urunler] ([ID])
GO
ALTER TABLE [dbo].[satislar] CHECK CONSTRAINT [FK_satislar_urunler]
GO
ALTER TABLE [dbo].[urunler]  WITH CHECK ADD  CONSTRAINT [FK_urunler_kategoriler] FOREIGN KEY([KATEGORIID])
REFERENCES [dbo].[kategoriler] ([ID])
GO
ALTER TABLE [dbo].[urunler] CHECK CONSTRAINT [FK_urunler_kategoriler]
GO
/****** Object:  StoredProcedure [dbo].[MusteriVarmi]    Script Date: 30.01.2025 17:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MusteriVarmi]
	@Telefon varchar(11),
	@sonuc bit output
	as
	set @sonuc=0
	if exists (select * from Musteriler where TELEFON=@Telefon)
	begin
	set @sonuc=1
	end
GO
USE [master]
GO
